@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Open+Sans&display=swap');

html,body{
    margin:0;
    padding:0;
    display: flex;
    height: 100%;
    width: 100%;
    background-image: url("../imgs/random.php");
    background-size: auto;
    background-attachment: fixed;
    font-family: "Open Sans", sans-serif;

}

*{

      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;
      -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}
*::-webkit-scrollbar {
    display: none;
}

#latbar{
    height: 100%;
    background-color: darkslategray;
}
.barcontent{
    padding-right: 1em;
    transition: 1s;
}
input[type="checkbox"]:checked + .barcontent{
    padding-right: 2em;
}
.main h1{
    margin: 1em;
    padding:.3em;
    text-align: center;
    border: .1em solid white;
    max-width: fit-content;
    min-width: 0;
    width: 0;
    overflow: hidden;
    white-space: nowrap;
    animation: type 3.5s steps(32, end) forwards;
    animation-delay: .2s;
}
@keyframes type {
  from { width: 0 }
    to { width: 100% }
}
.main>.topbar{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em;
    background-color: rgba(0, 0, 0, 0.2);
    height: 100vh;
    font-size: x-large;
    animation: init_anim 1.5s forwards;
    animation-timing-function: ease-out;
    animation-delay: 4s;
}

@keyframes init_anim {
    from{
        height: 100vh;
        font-size: x-large;
    }
    to{
        height: 10vh;
        font-size: unset
    }
}

h1, h2{
    font-family: "Montserratt", sans-serif;
}
.main{
    width: 100%;
    height: fit-content;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}
.content{
    padding: 1em;
    background-color: rgba(0, 0, 0, 0.7);
    margin: 1em;
    overflow: scroll;
    height: 100vh;
    scroll-snap-type: y mandatory;

}
.content > div{
    padding:2em;
    background-color: rgba(0, 0, 0, 0.5);
    margin-top: 1em;
    height: 100vh;
    scroll-snap-align: start;
}

.examples{
    background-color: rgb(14, 14, 14);
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    border-radius: 1em;
    padding: 1em;
}
.example{
  /*TODO:https://www.youtube.com/watch?v=Qf3pza8ZhcA&t=0s*/
    background-color: black;
    border-radius: 1em;
    padding: 1em;
    width: fit-content;
    transition: .7s;
}
.example > p, .example > h3{
    width: fit-content;
}
.example  img{
    width: 20vw;
}
.example *{
    margin-top: 0;
    transition: .4s;
}
.example:hover *{
    margin-top: .5ex;
}
.social_icon{
    width: 75px;
    height: 75px;
    transition: .5s;
}
.social_icon:hover{
    width: 100px;
    height: 100px;
}
.little_icon{
  width: 1em;
  height: 1em;
}

a:link, a:visited{
  color:darkcyan;
}

#socials{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.experiences{
  display: flex;
}
